<div class="page-header">
  How to create component in Angular
</div>

<div class="body-contect">
  There are couple of ways to create a component.
</div><mat-list>
    <mat-list-item> <b>Manual Creation</b> </mat-list-item>
    <mat-list-item> Create html, ts, spec, css files with prescribed extensions and import component clas in module file</mat-list-item>
    <mat-list-item> <b>Using command line</b></mat-list-item>
    
    <mat-list-item style="color: red"> Note: Dont give spaces in component name</mat-list-item>
  </mat-list>


<!-- <ol>
  <li>Manual Creation</li>
  <p>Create html, ts, spec, css files with prescribed extensions and import component clas in module file</p>
  <li>Using command line</li>
  <p>Use command ng g c "component name tryimg to create"</p> 
  <p >Note: Dont give spaces in component name</p>
</ol> -->