<h1>Introducing Angular</h1>
<nav mat-tab-nav-bar class="nav-bar">
<!-- <mat-tab-group> -->
  <a mat-tab-link class ="header-tabs" label="About" routerLink="/about" > About </a> 
  <a mat-tab-link class ="header-tabs" label="Examples" routerLink="/examples"> Examples </a>
  <a mat-tab-link class ="header-tabs" label="Live" routerLink="/live"> Live </a>
  <a mat-tab-link class ="header-tabs" label="Blog" routerLink=""> Blog </a>
  <a mat-tab-link class ="header-tabs" label="Sports" routerLink=""> Sports </a>
  <a mat-tab-link class ="header-tabs" label="Live" routerLink=""> Resume </a>
  <a mat-tab-link class ="header-tabs" label="Live" routerLink=""> Career </a>
<!-- </mat-tab-group> -->
</nav>

<router-outlet></router-outlet>


























































<!--The content below is only a placeholder and can be replaced.-->
<!-- <reactive-second-phase></reactive-second-phase>
<div cusDir style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <a routerLink="/click1">click here </a>
  <input type="button" value="app-second" routerLink="/secondComp"/>
    
</div> -->
<!-- <input type="text" [(ngModel)]="bindVal">
bind valis..... {{bindVal}}
<h2>Here are some links to help you start: </h2>
<app-second (sendEve)=fetchEve($event)></app-second>
<app-shiva1st></app-shiva1st> -->
<!-- <div style="border: 1px solid red">
  <router-outlet></router-outlet>
</div> -->
<!-- <app-test></app-test> --> 

<!-- <div>
  this is from DIV
  <app-first-comp (triggerEvnt) ="fromChildCmp($event)" [abcFromParent] = "abc" [objFromParent]="obj" [bindedVal]="'parent'"></app-first-comp>
</div> -->