.nav-bar {

    /* border: 1px solid; */
    font: 14px;
    /* padding-top: 100px; */
}

.header-tabs {
    border: 1px solid;
}

.example-container {
    
    position: absolute;
    height: 500px;
    left: 0;
    right: 0;
    background: #eee;
  }