<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <nav mat-tab-nav-bar class="nav-bar">
          <a mat-tab-link class ="header-tabs" label="About" routerLink="/about" > About </a> 
          <a mat-tab-link class ="header-tabs" label="Examples" routerLink="/examples"> Examples </a>
          <a mat-tab-link class ="header-tabs" label="Live" routerLink="/live"> Live </a>
          <a mat-tab-link class ="header-tabs" label="Blog" routerLink=""> Blog </a>
          <a mat-tab-link class ="header-tabs" label="Sports" routerLink=""> Sports </a>
          <a mat-tab-link class ="header-tabs" label="Live" routerLink=""> Resume </a>
          <a mat-tab-link class ="header-tabs" label="Live" routerLink=""> Career </a>
        </nav>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
 
  <mat-sidenav-container style="height: 100%;" fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a mat-list-item label="About" routerLink="/about" > About </a> 
        <a mat-list-item label="Examples" routerLink="/examples"> Examples </a>
        <a mat-list-item label="Live" routerLink="/live"> Live </a>
        <a mat-list-item label="Blog" routerLink=""> Blog </a>
        <a mat-list-item label="Sports" routerLink=""> Sports </a>
        <a mat-list-item label="Live" routerLink=""> Resume </a>
        <a mat-list-item label="Live" routerLink=""> Career </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill> <router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>



<!-- <router-outlet></router-outlet> -->




<!-- <h1>Introducing Angular</h1>
<nav mat-tab-nav-bar class="nav-bar">

  <a mat-tab-link class ="header-tabs" label="About" routerLink="/about" > About </a> 
  <a mat-tab-link class ="header-tabs" label="Examples" routerLink="/examples"> Examples </a>
  <a mat-tab-link class ="header-tabs" label="Live" routerLink="/live"> Live </a>
  <a mat-tab-link class ="header-tabs" label="Blog" routerLink=""> Blog </a>
  <a mat-tab-link class ="header-tabs" label="Sports" routerLink=""> Sports </a>
  <a mat-tab-link class ="header-tabs" label="Live" routerLink=""> Resume </a>
  <a mat-tab-link class ="header-tabs" label="Live" routerLink=""> Career </a>

</nav> -->

<!-- <nav mat-tab-nav-bar class="nav-bar">
  <ul>
    <li><a mat-tab-link class ="header-tabs"  routerLink="/examples/compCreation">Creating Components</a></li><br>
    <li><a mat-tab-link class ="header-tabs" routerLink="/examples/dataBinding">dataBinding</a></li>
  </ul>
</nav> -->
<!-- <div>
  <label routerLink="/examples/compCreation">ngModelEx</label>
  <label routerLink="/examples/dataBinding">routingEx</label>
</div> -->


<!-- <router-outlet></router-outlet> -->



























































<!--The content below is only a placeholder and can be replaced.-->
<!-- <reactive-second-phase></reactive-second-phase>
<div cusDir style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <a routerLink="/click1">click here </a>
  <input type="button" value="app-second" routerLink="/secondComp"/>
    
</div> -->
<!-- <input type="text" [(ngModel)]="bindVal">
bind valis..... {{bindVal}}
<h2>Here are some links to help you start: </h2>
<app-second (sendEve)=fetchEve($event)></app-second>
<app-shiva1st></app-shiva1st> -->
<!-- <div style="border: 1px solid red">
  <router-outlet></router-outlet>
</div> -->
<!-- <app-test></app-test> --> 

<!-- <div>
  this is from DIV
  <app-first-comp (triggerEvnt) ="fromChildCmp($event)" [abcFromParent] = "abc" [objFromParent]="obj" [bindedVal]="'parent'"></app-first-comp>
</div> -->