<h2>
  Angular Setup!
</h2>

<h3>
  Prerequisites to setup angular application.<br>
  Basic Knowledge on below technologies:
</h3>
<mat-list>
    <mat-list-item> Html </mat-list-item>
    <mat-list-item> CSS </mat-list-item>
    <mat-list-item> Javascript </mat-list-item>
    <mat-list-item> TypeScript </mat-list-item>
</mat-list>
<h3>
  Suggested applications to be installed
</h3>
<mat-action-list>
    <mat-list-item (click)="nodeInstall()" class="clickLink">Node Js (Click me to redirect to installation page) </mat-list-item >
    <mat-list-item (click)="visualStudio()" class="clickLink">Visual studio is suggested (Click me to redirect to installation page)</mat-list-item >
 </mat-action-list>

<h2>
  Install Angular application
</h2>
<span>
  To install application please use below command 
  <p>
    npm install -g @angular/cli
  </p>
</span>
